.wrapper {
  display: flex;
  column-gap: 100px;
  row-gap: 30px;
  flex-wrap: wrap;
}

.half {
  width: calc(50% - 50px);
}

.leadHelper {
  margin-bottom: 30px;
}

.membersEntry {
  width: 100%;
  display: flex;
  column-gap: 100px;
  row-gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.membersDeleteAction {
  width: max-content;
  border-color: var(--light-error);
  
  
  & > * {
    color: var(--error);
  }

  &__wrapper {
    width: 100%;
  }
}

.actionWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}