.styled {
  padding: 18px 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid rgba(65, 79, 235, 0.5);
  border-radius: 12px;
  cursor: pointer;

  & > * {
    opacity: 1;
    transition: 0.2s;
  }

  &:hover > * {
    opacity: 0.6;
    transition: 0.2s;
  }

  & * {
    color: var(--blue);
  }

  &_delete {
    border: 1px solid rgba(241, 63, 68, 0.5);

    & * {
      color: var(--error);
    }
  }
}
