.styled {
  margin-bottom: 80px;
}

.line {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lineMain {
  display: flex;
  align-items: center;
  gap: 30px;
}

.errorText {
  max-width: 660px;
  margin-top: 40px;
  padding: 20px;
  background: var(--error);
  border-radius: 8px;

  & * {
    color: white;
  }
}
