.styled {
  padding: 8px 16px;
  border-radius: 26px;
}

.yellow {
  background: #F4B74026;

  & * {
    color: #F4B740;
  }
}

.red {
  background: #F13F4426;

  & * {
    color: var(--error);
  }
}
